.button{
    color: white;
    background-color: green;
    height: 35px;
    width: 120px;
    padding:10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 1080px;
    top:90px;
    text-decoration: none;
}

.button1{
    color: white;
    background-color: green;
    border-radius: 8px;
    height: 35px;
    width: 120px;
    padding:10px;
    cursor: pointer;
    text-decoration: none;
}

